<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<ol class="ol-list">
    <li>
        <div class="ol-list__ic"><i class="ic ic--list"></i></div>
        <p><strong>Lorem ipsum dolor sit </strong>amet, consectetur adipisicing elit. Commodi cum distinctio dolore enim error facilis incidunt</p>
    </li>
    <li>
        <div class="ol-list__ic"><i class="ic ic--user"></i></div>
        <p><strong>Lorem ipsum dolor sit </strong>amet, consectetur adipisicing elit. Commodi cum distinctio dolore enim error facilis incidunt</p>
    </li>
    <li>
        <div class="ol-list__ic"><i class="ic ic--book"></i></div>
        <p><strong>Lorem ipsum dolor sit </strong>amet, consectetur adipisicing elit. Commodi cum distinctio dolore enim error facilis incidunt</p>
    </li>
    <li>
        <div class="ol-list__ic"><i class="ic ic--ok"></i></div>
        <p><strong>Lorem ipsum dolor sit </strong>amet, consectetur adipisicing elit. Commodi cum distinctio dolore enim error facilis incidunt</p>
    </li>
</ol>
</body>
</html>